
@{
    var pager = new Pager();
    int pageNo = 0;
    int pageSize = 10;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        pageSize = pager.PageSize;
    }


}

@model List<MvcSchool.Models.ShowEnrollmentViewModel>

<h2>Enrollment</h2>
<a class="btn btn-info mb-3" href="AddEnrollment">Enroll Classes</a>

<table class="table">
    <thead>
        <tr>
            <th>Enrollment ID</th>
            <th>Student Name</th>
            <th>Class</th>
            <th>Payment Status</th>
            <th>Payment Deadline</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrollment in Model)
        {
                <tr>
                    <td>@enrollment.EnrollmentID</td>
                    <td>@enrollment.StudentName</td>
                    <td>@enrollment.ClassName</td>
                    <td>@enrollment.PaymentStautus</td>
                    <td>@enrollment.PaymentDeadline.ToString("dd-MM-yyyy")</td>
                    <td>@enrollment.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td>@enrollment.CreatedBy</td>
                    <td><a href="UpdateEnrollment/@enrollment.EnrollmentID">View</a></td>
                </tr>    
        }
    </tbody>
</table>

<div class="dropdown">
  <button class="btn btn-info" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Select Number Of Rows 
  </button>
  <ul class="dropdown-menu">

        @for (var size = 10; size<=pager.TotalItems; size+=10)
        {
            <li><a class="dropdown-item" href="ViewEnrollment?pg=@pageNo&pageSize=@size">@size</a></li>
        }
        <!--<li><a class="dropdown-item" href="ViewEnrollment?pg=1&pageSize=5">5</a></li>
            <li><a class="dropdown-item" href="ViewEnrollment?pg=1&pageSize=10">10</a></li>
            <li><a class="dropdown-item" href="ViewEnrollment?pg=1&pageSize=15">15</a></li>-->
  </ul>
</div>

<div class="container">
    @if(pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pg = pager.StartPage; pg<=pager.EndPage;pg++)
            {
                <li class="page-item @(pg==pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="ViewEnrollment?pg=@pg&pageSize=@pageSize">@pg</a>
                </li>
            }
        </ul>
    }
</div>


