
@{
}

@model List<MvcSchool.Models.Domain.Class>

<h2 class="mb-3">Classes</h2>
<a class="btn btn-info mb-3" href="AddClass">Add Class</a>

<table class="table">
    <thead>
        <tr>
            <th>Class ID</th>
            <th>Class Name</th>
            <th>Class Fee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var classModel in Model)
        {
            <tr>
                <td>@classModel.ClassID</td>
                <td><a href="ClassSelect/@classModel.ClassName">@classModel.ClassName</a></td>
                <td>@classModel.ClassFee</td>
                <td>@classModel.StartDate</td>
                <td>@classModel.EndDate</td>
                <td><a href="UpdateClass/@classModel.ClassID">View</a></td>
            </tr>    
        }
    </tbody>
</table>
